@model ShopTARgv23.Models.Coctails.CoctailSearchViewModel

<div class="container">
    <div class="h1">
        Find your favorite Coctail:
    </div>

    <form method="post">
        <div>
            <div class="h4">
                Search the coctail here:
            </div>
            <div class="col-sm-10">
                <input asp-for="SearchCocktail" class="form-control" />
                <span asp-validation-for="SearchCocktail"></span>
            </div>
        </div>
        <div>
            <button asp-controller="Coctails" asp-action="SearchCocktails">Search</button>
        </div>
    </form>
</div>