@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}
<header class="major">
    <h1>@ViewData["Title"]</h1>
</header>
<p>Use this page to detail your site's privacy policy. Here, you can include information about data collection, data usage, and other privacy-related details that your users need to know.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum imperdiet. Duis sagittis ipsum.</p>
