@model ShopTARgv23.Models.Spaceships.SpaceshipCreateUpdateViewModel

@if (Model.Id.HasValue)
{
    <h1>Update</h1>
}
else
{
    <h1>Create</h1>
}
<div class="h1">
    Spaceship
</div>
<div>
    <hr />
    <form method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <input asp-for="CreatedAt" type="hidden" />
        <input asp-for="ModifiedAt" type="hidden" />

        <div>
            <label asp-for="Name"></label>
            <div class="col-sm-10">
                <input asp-for="Name" class="form-control" />
            </div>
        </div>

        <div>
            <label asp-for="Type"></label>
            <div class="col-sm-10">
                <input asp-for="Type" class="form-control" />
            </div>
        </div>

        <div>
            <label asp-for="BuiltDate"></label>
            <div class="col-sm-10">
                <input asp-for="BuiltDate" class="form-control" />
            </div>
        </div>

        <div>
            <label asp-for="CargoWeight"></label>
            <div class="col-sm-10">
                <input asp-for="CargoWeight" class="form-control" />
            </div>
        </div>

        <div>
            <label asp-for="Crew"></label>
            <div class="col-sm-10">
                <input asp-for="Crew" class="form-control" />
            </div>
        </div>

        <div>
            <label asp-for="EnginePower"></label>
            <div class="col-sm-10">
                <input asp-for="EnginePower" class="form-control" />
            </div>
        </div>

        <div>
            <label asp-for="Files"></label>
            <div class="col-sm-10">
                <div class="custom-file">
                    <input class="form-control custom-file-input" asp-for="Files" multiple type="file" />
                    <label class="custom-file-label">Choose File...</label>
                </div>
            </div>
        </div>

        <div>
        @foreach (var images in Model.FileToApiViewModels)
        {
            <partial name="_Images" model="images" />
            <input asp-action="removeImage" asp-controller="spaceship" asp-route-imageId="@images.ImageId" type="submit" value="Remove Images" />
        }
        </div>

        @if (Model.Id.HasValue)
        {
            <input asp-action="update" asp-controller="spaceships" type="submit" value="Update" />
        }
        else
        {
            <input asp-action="create" asp-controller="spaceships" type="submit" value="Create" />
        }

    </form>

    <a asp-action="Index" asp-controller="spaceships">Back</a>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var fileLabel = $(this).next('.custom-file-label');
                var files = $(this)[0].files;
                if (files.length > 1) {
                    fileLabel.html(files.length + ' files selected');
                }
                else if (files.length == 1 {
                    fileLabel.html(files[0].name);
                }
            });
        });
    </script>
}