@model ShopTARgv23.Models.RealEstate.RealEstateCreateUpdateViewModel

@if (Model.Id.HasValue) { <h1>Update</h1> }
else { <h1>Create</h1> }
<div class="h1">
    Real Estate
</div>
<div>
    <hr />
    <form method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <input asp-for="CreatedAt" type="hidden" />
        <input asp-for="ModifiedAt" type="hidden" />

        <div>
            <label asp-for="Location"></label>
            <div class="col-sm-10">
                <input asp-for="Location" class="form-control" />
            </div>
        </div>

        <div>
            <label asp-for="Size"></label>
            <div class="col-sm-10">
                <input asp-for="Size" class="form-control" />
            </div>
        </div>

        <div>
            <label asp-for="RoomNumber"></label>
            <div class="col-sm-10">
                <input asp-for="RoomNumber" class="form-control" />
            </div>
        </div>

        <div>
            <label asp-for="BuildingType"></label>
            <div class="col-sm-10">
                <input asp-for="BuildingType" class="form-control" />
            </div>
        </div>

        <div>
            <label asp-for="Files"></label>
            <div class="col-sm-10">
                <div class="custom-file">
                    <input asp-for="Files" class="form-control" multiple type="file"/>
                    <label class="custom-file-label">Choose file...</label>
                </div>
            </div>
        </div>

        <div>
            @foreach (var img in Model.Image)
            {
                <partial name="Image" model="img" />
                <input asp-action="removeImage" asp-controller="RealEstate" asp-route-imageId="@img.ImageId" type="submit" class="btn" value="Remove Images" />
            }
        </div>

        @if (Model.Id.HasValue)
        {
            <input asp-action="update" asp-controller="RealEstate" type="submit" class="btn" value="Update" />
        }
        else
        {
            <input asp-action="create" asp-controller="RealEstate" type="submit" class="btn" value="Create" />
        }
    </form>

    <a asp-action="index" asp-controller="RealEstate">Back</a>
</div>