@model ShopTARgv23.Models.RealEstate.RealEstateImageViewModel

<div class="form-group col-sm-5">
    <div>@Model.ImageTitle</div>
    <img class="card-img-top" src="@Model.Image" asp-append-version="true" />
</div>